In 01_ we scraped data about attitudes to finance and saved the data. We will build upon this here.

Objective:
    - using Latent Dirichlet Allocation, obtain key topics of discussion and cluster documents based on topics

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import praw
import pyLDAvis

In [2]:
df_att = pd.read_pickle('../data/attitudes_to_finance.pkl')
print(df_att.shape)
df_att.head()

(310, 8)

,id,body,ups,downs,depth,score,edited,created
0,ey27v7c,Interesting perspective on considering afforda...,133,0,0,133,Unedited,1.566758e+09
1,ey2e57v,"This is a good point. In college, I worked a m...",784,0,0,784,Unedited,1.566765e+09
2,ey26lfn,This also is a good way to perceive your money...,611,0,0,611,Unedited,1.566756e+09
3,ey2kaoe,I see a lot of posts on here where people regr...,39,0,0,39,Unedited,1.566771e+09
4,ey2agnc,My father is a retired auto mechanic. How much...,170,0,0,170,Edited,1.566761e+09

In [ ]:
Observations on the dataset:
    -